<footer id="footer">
  <div class="container">
    <ul class="icons">
      <li><a href="https://twitter.com/LilleHuma" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
      <li><a href="https://www.facebook.com/feiroz.humayara/" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
      <li><a href="https://www.instagram.com/lillehuma/" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
      <li><a href="https://hifipublic.com/contributor/feirozhumayara" class="icon fa-envelope-o" target="_blank"><span class="label">Email</span></a></li>
    </ul>
  </div>
  <div class="copyright">
    &copy; Untitled. All rights reserved. By <a href="https://www.facebook.com/shaikh.rahman.9/" target="_blank">Shaikh</a>
  </div>
</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.poptrox.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>

</html>
