<!DOCTYPE HTML>
<!--
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head >
		<title>Visualize by TEMPLATED</title >
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/book.css" />
		<script src="https://kit.fontawesome.com/f2755cb01e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						
						<h1>This is my collection of books.<br />
						With smoll touch of my foods as well !!</h1>
						<ul class="icons">
							<li><a href="https://twitter.com/LilleHuma" class="icon style2 fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
			        <li><a href="https://www.facebook.com/feiroz.humayara/" class="icon style2 fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
			        <li><a href="https://www.instagram.com/lillehuma/" class="icon style2 fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
			        <li><a href="https://hifipublic.com/contributor/feirozhumayara" class="icon style2 fa-500px" target="_blank"><span class="label">500px</span></a></li>
						</ul>
					</header>
