<%- include("partials/headerMain") -%>


<!-- Header -->
<header id="header">
  <div class="logo"><a href="#">Lillehuma <span>Journal</span></a></div>
</header>

<!-- Main -->
<section id="main">
  <div class="inner">

    <!-- One -->
    <section id="three" class="wrapper">

      <div class="spotlight">
        <div class="image flush"><img src="images/fe1.jpg" alt="" /></div>
        <div class="inner">
          <a href="#">
            <h3>Lillehuma</h3>
          </a>
          <p>Bookstagrammer. Manchester United fan. A soon-to-be engineer from MIST. Feiroz Humayara is severely geographically handicapped; couldn't tell the name of a street if she was standing right in front of it. Send her emails at feiroz.humayara@gmail.com</p>
          <form class="" action="/" method="post">
            <button type="button" class="btn btn-outline-dark">More of me !</button>
          </form>
        </div>
      </div>


      <!-- two -->
      <div class="spotlight alt">
        <div class="image flush"><a href="/foods"><img src="images/food.jpg" alt="" /></a></div>
        <div class="inner">

          <a href="/foods">

            <h3>Cooking and more</h3>
          </a>
          <p>Cooking is one of her passion. Her experimenting with food has surely made her a professional-level-chef. These pictures will clear all your doubt. </p>

          <form class="" action="/foods" method="post">
            <button type="submit" class="btn btn-light">Explore</button>
          </form>
        </div>
      </div>

      <!-- Three -->
      <div class="spotlight">
        <div class="image flush"><a href="/books"><img src="images/book.jpeg" alt="" /></a></div>
        <div class="inner">
          <a href="/books">

            <h3>All about books</h3>
          </a>
          <p>One thing that can keep her away from cooking is books. Her dream is to read as many as possible. Always has a buy-list ready in her mind. You can check out her collection here. Though its just a glimpse.</p>

          <form class="" action="/books" method="post">
            <button type="submit" class="btn btn-outline-dark" >Explore</button>
          </form>
        </div>
      </div>

    </section>
  </div>
</section>


<%- include("partials/footerMain") -%>
